.content
  .mainbar
    %h3 All Questions
  .questions
  -@questions.each do |question|
    .question-summary
      .stats
        .vote
          .vote-count-post
            %strong= question.votes.sum(:value)
          .viewcount
            votes
        .answer
          .answer-count-post
            %strong= question.answers.count
          .viewcount
            answers
      .summary
        %h3= link_to question.title, question_path(question)
        .post-time
          asked __ seconds ago
        .user-info
          .user-details
            = question.user.username
          .user-gravatar
            %img{src: "http://www.themillions.com/wp-content/uploads/2012/10/570_big-bird-wins.jpg", height: 30, width:30}          
