
%h1.question_title
  =@question.title
%h4.question_author
  =@question.user.username
%p.question_content
  =@question.content

= render partial: "answers/form", locals: { question: @question, answer: @answer }
