%h1.question_title
  =@question.title
%h4.question_author
  =@question.user.username
%p.question_content
  =@question.content

/ =button_to "Upvote", {controller:"vote", action:"create"}, {votable_id: @question.id, votable_type: "Question", vote_value: 1}

/ =button_to "Upvote", question_votes_path(votable_id: @question.id, votable_type: "Question", vote_value: 1)
=@question.votes.sum(:value)

=form_tag question_votes_path(@question), method: "post" do
  =hidden_field_tag(:votable_type, "Question")
  =hidden_field_tag(:vote_value, 1)
  =submit_tag("Upvote (create)")
=form_tag question_vote_path(@question), method: "put" do
  =hidden_field_tag(:votable_type, "Question")
  =hidden_field_tag(:vote_value, 1)
  =submit_tag("Upvote (update)")
=form_tag question_votes_path(@question), method: "post" do
  =hidden_field_tag(:votable_type, "Question")
  =hidden_field_tag(:vote_value, -1)
  =submit_tag("Downvote (create)")
=form_tag question_vote_path(@question), method: "put" do
  =hidden_field_tag(:votable_type, "Question")
  =hidden_field_tag(:vote_value, -1)
  =submit_tag("Downvote (update)")
=form_tag question_vote_path(@question), method: "delete" do
  =hidden_field_tag(:votable_type, "Question")
  =submit_tag("Downvote (delete)")

= render partial: "answers/form", locals: { question: @question, answer: @answer }

- Answer.where(question_id: @question.id).each do |answer|
  %p
    / =form_tag question_votes_path(@answer), method: "post" do
    /   =hidden_field_tag(:votable_type, "Answer")
    /   =hidden_field_tag(:vote_value, 1)
    /   =submit_tag("Upvote")
    = answer.content
    %h6= User.find(answer.user_id).username



