=form_for @user, {url: sessions_path, html: { class: :login } } do |f|
  .form-title
    %h1 Can you tell me how to get
    %h2 How to get to groverflow?
  %p=f.email_field :email, {class: "text", placeholder: "your email"}
  %p=f.password_field :password, {class: "text", placeholder: "your password"}
  - if flash[:error]
    %p.error= flash[:error]
  %p=f.submit "Log In", {class: "submit"}
                                       
