= form_for([answer, answer_comment], {html: {class: "answer_comment_form"} }) do |f|
  %p=f.text_field :content
  %p=f.submit 'Comment', {class: "submit"}
-if flash[:comment_errrors]
  %ul
    - flash[:comment_errrors].each do |error|
      %li=error
