%h4 Leave a comment
= form_for([question, question_comment]) do |f|
  %p=f.text_area :content
  %p=f.submit 'Comment', {class: "submit"}
  -if flash[:comment_errrors]
    %ul
      - flash[:comment_errrors].each do |error|
        %li=error
