.container
  %h1 Groverflow!

  = image_tag "http://upload.wikimedia.org/wikipedia/en/thumb/b/be/Grover.JPG/220px-Grover.JPG"
  %ul.questions_list
    -if @questions
      -@questions.each do |question|
        %li.question
          =link_to question.title, question