%h4 Submit an answer!
= form_for([question, answer]) do |f|
  %p=f.text_area :content
  %p=f.submit 'Submit Answer', {class: "submit"}
  -if flash[:answer_errors]
    %ul
      - flash[:answer_errors].each do |error|
        %li=error

