form{
  color: #FFFFFF;
  background-color: #59C5F6;
  border-radius: 1em;
  width: 500px;
  margin: 0 auto;
  padding: 1em;
}

form p{
  margin: 0;
}

form h1{
  font-size: 2em;
  text-align: right;
  display: inline-block;
}
form img{
  display: inline-block;
}

form input{
  font-size: 1.5em;
}

form textarea {
  font-size: 1.5em;
  width: 90%;
  border: 1px solid #999;
  height: 100px;
  display: block;
  margin: 10px auto;
  padding: 5px;
}

form .form-title{
  text-align: center;
}

form .text {
  width: 90%;
  border: 1px solid #999;
  display: block;
  margin: 10px auto;
  padding: 5px;
}

form .submit{
  font-size: 1.5em;
  margin: 10px auto;
  padding: 0.5em 2em;
  background-color: #FC943A;
  border: 0px;
  border-radius: 0.5em;
  display: block;
  color:white;
}

form .submit:hover{
  background-color: #CC2222;
  border: 1em;
}

.error{
  text-align: center;
  color: #DD3311;
}