.question_title {
  color: #00a76d;
  text-shadow: 2px 2px 2px darken(#00a76d, 20);
  transition: text-shadow 2s;
  transition: color 2s;

  &:hover {
    color: black;
    text-shadow: 2px 2px 10px darken(red, 20);
  }
}

#question_votes {
  display: block;
  float: left;
  width: 19%;
  padding-left: 5%;
}

.question_header {
  display: block;
  float: right;
  width: 78%;
}

.some_dealie form {
  width: 100% !important;
  background-color: green;
  display: block;
  padding-bottom: 2.3em;
}
