!!!
%html
  %head
    %title Groverflow
    =stylesheet_link_tag    "application", :media => "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
    =stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css"
    =javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"
  %body
    %nav
      %ul
        %li
          =link_to "Signup", new_user_path
      -flash.each do |key, value|
        %div{class: "#{key}"} 
          =value
    =yield